body {
    font-family: sans-serif;
    text-align: center;
    background-color: #f0f8ff;
    color: #333;
}

h1 {
    color: #2e8b57;
}

.counter-display {
    font-size: 1.5em;
    margin: 20px;
}

#kurgi-counter {
    font-weight: bold;
    font-size: 2em;
    color: #8B008B;
    transition: transform 0.2s, color 0.2s;
}

.image-container img {
    width: 250px;
    margin: 10px;
    border: 5px solid #2e8b57;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.2s;
}

.image-container img:hover {
    transform: scale(1.05);
}
